/* Easiest way to not calculate coordinates for every element. */

.paragraph {
    text-align: center;
    font-size: 20px;
}

.v1-container {
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 3px 7px 6px 7px;
    box-shadow: 0 0 10px 1px rgb(226, 224, 224);
}

.v1-picture-edges {
    width: 430px;
    height: 438px;
    position: relative;
}

.v1-top-left {
    width: 110px;
    height: 319px;
    position: absolute;
    top: 0;
    left: 0;
}

#v1-first-rectangle {
    width: 100px;
    height: 130px;
    position: inherit;
    top: 0;
    border-width: 4px 5px 10px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(254, 249, 230);
}

#v1-second-rectangle {
    width: 100px;
    height: 160px;
    position: inherit;
    bottom: 0;
    border-width: 10px 5px 5px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(254, 249, 230);
}

#v1-third-rectangle {
    width: 312px;
    height: 312px;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 4px 4px 4px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color:rgb(236, 73, 56);
}

#v1-fourth-rectangle {
    width: 100px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 5px 5px 4px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(64, 156, 197);
}

.v1-bottom-right {
    width: 321px;
    height: 118px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#v1-fifth-rectangle {
    width: 287px;
    height: 109px;
    position: inherit;
    left: 0;
    border-width: 4px 5px 5px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color:rgb(254, 249, 230);
}

#v1-sixth-rectangle {
    width: 15px;
    height: 45px;
    position: inherit;
    right: 0;
    top: 0;
    border-width: 4px 4px 10px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(254, 249, 230);
}

#v1-seventh-rectangle {
    width: 15px;
    height: 45px;
    position: inherit;
    bottom: 0;
    right: 0;
    border-width: 10px 4px 4px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: yellow;
}