/* Not necessary to calculate coordinates for elements, but more attention needs to be paid on certain things, like:
- one can't entirely be dependent on float - divs must have the same height, otherwise float doesn't work (they'll overlap and another float in the adjacent div has to be declared).
- float can't be used for moving elements vertically. */

.v2-container {
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 3px 7px 6px 7px;
    box-shadow: 0 0 10px 1px rgb(226, 224, 224);
}

.v2-picture-edges {
    width: 430px;
    height: 438px;
    position: relative;
}

.v2-top-left {
    width: 110px;
    height: 319px;
    float: left;
}

#v2-first-rectangle {
    width: 100px;
    height: 130px;
    float: left;
    border-width: 4px 5px 10px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(254, 249, 230);

}

#v2-second-rectangle {
    display: inline-block;
    width: 100px;
    height: 160px;
    border-width: 10px 5px 5px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(254, 249, 230);
}

#v2-third-rectangle {
    width: 312px;
    height: 312px;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 4px 4px 4px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color:rgb(236, 73, 56);
}

#v2-fourth-rectangle {
    width: 100px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 5px 5px 4px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(64, 156, 197);
}

.v2-bottom-right {
    width: 321px;
    height: 118px;
    float: right;
}

#v2-fifth-rectangle {
    width: 287px;
    height: 109px;
    float: left;
    border-width: 4px 5px 5px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color:rgb(254, 249, 230);
}

.v2-small-rectangles {
    display: inline-block;
    width: 24px;
    height: 118px;
}

#v2-sixth-rectangle {
    width: 15px;
    height: 45px;
    float: left;
    border-width: 4px 4px 10px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: rgb(254, 249, 230);
}

#v2-seventh-rectangle {
    display: inline-block;
    width: 15px;
    height: 45px;
    border-width: 10px 4px 4px 5px;
    border-style: solid;
    border-color: rgb(69, 58, 54);
    background-color: yellow;
}

