.paragraph {
    text-align: center;
    font-size: 20px;
}

* {
    font-family: 'Vina Sans', sans-serif;
}

:not(html, head, body, p, #forest-ext-shadow-host, grammarly-desktop-integration, .bonus-container, .bonus-top-left, .bonus-top-right1, .bonus-bottom-left1, .bonus-middle, .bonus-up, .bonus-right1, .bonus-down, .bonus-bottom-left2, .bonus-bottom-right, .bonus-left2, .bonus-right2, :hover) {
    border: 5px solid black;
}

.bonus-container {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    box-shadow: 0 0 10px 1px rgb(226, 224, 224);
}

.containers {
    box-sizing: inherit;
}

.display-table {
    display: table;
    box-sizing: inherit;
 }
 
 .display-table:hover > span {
    display: table-cell;
 }

 span {
    display: none;
    text-align: center;
    vertical-align: middle;
 }

 .bonus-top-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border: none;
}

#bonus-rectangle1 {
    width: 27%;
    border-top: none;
    border-left: none;
    background-color: rgb(229, 238, 235);
}

#bonus-rectangle1:hover {
    background-color: rgb(175, 240, 218);
}

#bonus-rectangle2 {
    width: 40.6%;
    border-top: none;
    background-color: rgb(242, 231, 213);
}

#bonus-rectangle2:hover {
    background-color: rgb(238, 209, 162);
}

#bonus-rectangle3 {
    width: 32.4%;
    border-top: none;
    background-color:rgb(242, 201, 104);
}

#bonus-rectangle3:hover {
    background-color: rgb(238, 178, 82);
}

.bonus-top-right1 {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#bonus-rectangle4 {
    width: 100%;
    height: 77.8%;
    border-top: none;
    border-right: none;
    background-color: rgb(252, 253, 231);
}

#bonus-rectangle4:hover {
    background-color: rgb(247, 253, 134);
}

#bonus-rectangle5 {
    width: 100%;
    height: 22.2%;
    border-right: none;
    border-bottom: none;
    background-color:rgb(215, 54, 48);
}

#bonus-rectangle5:hover {
    background-color: rgb(192, 12, 6);
}

.bonus-bottom-left1 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#bonus-rectangle6 {
    width: 100%;
    height: 30.4%;
    border-left: none;
    background-color: rgb(251, 253, 231);
}

#bonus-rectangle6:hover {
    background-color: rgb(241, 253, 112);
}

#bonus-rectangle7 {
    width: 100%;
    height: 44.8%;
    border-left: none;
    background-color: rgb(225, 234, 229);
}

#bonus-rectangle7:hover {
    background-color: rgb(157, 238, 193);
}

#bonus-rectangle8 {
    width: 100%;
    height: 24.8%;
    border-left: none;
    border-bottom: none;
    background-color: rgb(244, 198, 90);
}

#bonus-rectangle8:hover {
    background-color: rgb(247, 183, 33);
}

.bonus-middle {
    display: flex;
    flex-wrap: wrap;
}

.bonus-up {
    width: 100%;
    height: 60.1%;
    display: inherit;
}

#bonus-rectangle9 {
    width: 62.6%;
    background-color: rgb(214, 45, 36);
}

#bonus-rectangle9:hover {
    background-color: rgb(194, 10, 1);
}

.bonus-right1 {
    width: 37.4%;
    display: inherit;
    flex-wrap: wrap;
}

#bonus-rectangle10 {
    width: 100%;
    height: 49.8%;
    background-color: rgb(237, 204, 107);
}

#bonus-rectangle10:hover {
    background-color: rgb(236, 185, 31);
}

#bonus-rectangle11 {
    width: 50%;
    height: 50.2%;
    background-color: rgb(223, 229, 208);
}

#bonus-rectangle11:hover {
    background-color: rgb(198, 226, 128);
}

#bonus-rectangle12 {
    width: 50%;
    height: 50.2%;
    background-color: rgb(242, 238, 226);
}

#bonus-rectangle12:hover {
    background-color: rgb(243, 218, 143);
}

.bonus-down {
    width: 100%;
    height: 39.9%;
    display: inherit;
}

.bonus-bottom-left2 {
    width: 31.4%;
    display: inherit;
    flex-wrap: wrap;
}

#bonus-rectangle13 {
    width: 100%;
    height: 69.7%;
    background-color: rgb(19, 4, 9);
}

#bonus-rectangle13:hover {
    background-color: rgb(43, 37, 39);
    color: white;
}

#bonus-rectangle14 {
    width: 100%;
    height: 30.3%;
    border-bottom: none;
    background-color: rgb(227, 222, 217);
}

#bonus-rectangle14:hover {
    background-color: rgb(228, 201, 175);
}

.bonus-bottom-right {
    width: 68.6%;
    display: inherit;
    flex-wrap: wrap;
}

.bonus-left2 {
    width: 45.5%;
    height: 88.1%;
    display: inherit;
    flex-wrap: wrap;
}

#bonus-rectangle15 {
    width: 100%;
    height: 41.7%;
    background-color: rgb(192, 191, 186);
}

#bonus-rectangle15:hover span {
    background-color: rgb(148, 147, 143);
}

#bonus-rectangle16 {
    width: 100%;
    height: 37.4%;
    background-color: rgb(222, 226, 212);
}

#bonus-rectangle16:hover {
    background-color: rgb(207, 231, 146);
}

#bonus-rectangle17 {
    width: 100%;
    height: 20.9%;
    background-color: rgb(11, 2, 5);
}

#bonus-rectangle17:hover {
    background-color: rgb(29, 26, 27);
    color: white;
}

.bonus-right2 {
    width: 54.5%;
    height: 88.1%;
    display: inherit;
    flex-wrap: wrap;
}

#bonus-rectangle18 {
    width: 100%;
    height: 41.7%;
    background-color: rgb(214, 222, 224);
}

#bonus-rectangle18:hover {
    background-color: rgb(159, 214, 228);
}

#bonus-rectangle19 {
    width: 100%;
    height: 58.3%;
    background-color: rgb(36, 23, 133);
}

#bonus-rectangle19:hover {
    background-color: rgb(66, 56, 139);
    color: white;
}

#bonus-rectangle20 {
    width: 100%;
    height: 11.9%;
    border-bottom: none;
    background-color: rgb(224, 224, 223);
}

#bonus-rectangle20:hover {
    background-color: rgb(228, 228, 134);
}

@media screen and (width <= 480px) {
    .bonus-container {
        width: 480px;
        height: 467px;
    }

    .bonus-top-left {
        width: 449px;
        height: 49px;
    }

    .bonus-top-right1 {
        width: 31px;
        height: 467px;
    }

    .bonus-bottom-left1 {
        width: 60px;
        height: 418px;
    }

    .bonus-middle {
        width: 389px;
        height: 418px;
        position: relative;
        top: 49px;
        left: 60px;
    }
}

@media screen and (480px < width <= 768px) {
    .bonus-container {
        width: 534px;
        height: 519px;
    }

    .bonus-top-left {
        width: 500px;
        height: 55px;
    }

    .bonus-top-right1 {
        width: 34px;
        height: 519px;
    }

    .bonus-bottom-left1 {
        width: 67px;
        height: 464px;
    }

    .bonus-middle {
        width: 433px;
        height: 464px;
        position: relative;
        top: 55px;
        left: 67px;
    }
}

@media screen and (768px < width <= 1024px) {
    .bonus-container {
        width: 600px;
        height: 583px;
    }

    .bonus-top-left {
        width: 562px;
        height: 62px;
    }

    .bonus-top-right1 {
        width: 38px;
        height: 583px;
    }

    .bonus-bottom-left1 {
        width: 75px;
        height: 521px;
    }

    .bonus-middle {
        width: 487px;
        height: 521px;
        position: relative;
        top: 62px;
        left: 75px;
    }
}

@media screen and (1024px < width <= 1200px) {
    .bonus-container {
        width: 650px;
        height: 632px;
    }

    .bonus-top-left {
        width: 609px;
        height: 67px;
    }

    .bonus-top-right1 {
        width: 41px;
        height: 632px;
    }

    .bonus-bottom-left1 {
        width: 81px;
        height: 565px;
    }

    .bonus-middle {
        width: 528px;
        height: 565px;
        position: relative;
        top: 67px;
        left: 81px;
    }
}

    @media screen and (width > 1200px) {
        .bonus-container {
            width: 750px;
            height: 729px;
        }
    
        .bonus-top-left {
            width: 703px;
            height: 77px;
        }
    
        .bonus-top-right1 {
            width: 47px;
            height: 729px;
        }
    
        .bonus-bottom-left1 {
            width: 93px;
            height: 652px;
        }
    
        .bonus-middle {
            width: 609px;
            height: 652px;
            position: relative;
            top: 77px;
            left: 93px;
        }
}








